@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');


:root {
    --clr-lightblue : #047aed; 
    --clr-blue: #1c3fa8;
    --clr-darkblue: #002240;
    --clr-white: #fff;
    --clr-darkgrey: #333;
    --clr-lightgrey: #b4becb;
    --clr-lightcolor: #f4f4f4;
    --clr-success:#5cb85c;
    --clr-error: #d9534f;
}


*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


/*=========== Global Styling ============*/


body {
    font-family: 'Lato', sans-serif;
    color: var(--clr-darkgrey);
    line-height: 1.6;
    
}

ul {
    list-style-type : none;
}


a {
    text-decoration: none;
    color: var(--clr-darkgrey);
}


h1,
h2 {
   font-weight: 300;
   line-height: 1.2;
   margin: 10px 0;
    
}

p {
    margin: 10px 0;

}


img {
    width: 100%;
}


code,
pre {
    background: var(--clr-darkgrey);
    color: var(--clr-white);
    padding: 10px;
}



/*============== NavBar =================*/


.navBar {
    background-color: var(--clr-lightblue);
    color: var(--clr-white);
    height: 70px;
}

.navBar .flex {
    justify-content: space-between;
}

.navBar ul {
    display: flex;

}

.navBar a {
    color: var(--clr-white);
    padding: 10px;
    margin: 0 5px;
}

.navBar a:hover {
   border-bottom: 2px var(--clr-white) solid;
   
}



/*================ Showcase ==============*/


.showCase {
    height: 400px;
    background-color: var(--clr-lightblue);
    color: var(--clr-white);
    position: relative;
    overflow: visible;
}

.showcase h1 {
    font-size: 40px;
    
}

.showCase p {
    margin: 20px 0;
}

.showCase .grid {
    overflow: visible;
    grid-template-columns: 52% 45% ;
    gap: 30px;
}

.showCase::before,
.showCase::after {
   content: '';
   position: absolute;
   height: 100px;
   /* set the left and right to 0 so the content will fill the whole space */
   right: 0;
   left: 0;
   bottom: -70px;
   transform: skewY(-3deg);
   -webkit-transform: skewY(-3deg);
   -moz-transform: skewY(-3deg);
   -ms-transform: skewY(-3deg);
   background-color:var(--clr-white);
}


.showcaseForm {
    position: relative;
    top: 60px;
    height: 350px;
    width: 400px;
    padding: 40px;
    z-index: 100;
    justify-self: flex-end;
}


.showcaseForm .formControl {
    margin: 30px 0;
}

.showcaseForm input[type='text'],
.showcaseForm input[type='email'] {
    border: 0;
    border-bottom :1px solid var(--clr-lightgrey);
    width: 100%;
    padding: 3px;
    font-size: 16px;
}

.showcaseForm input:focus {
    outline: none;
}



/* ============ Stats ============== */

.stats {
    padding-top: 100px;
}

.statsHeading {
    max-width: 500px;
    /* put the title in the middle */
    margin: auto;
    
} 

.stats .grid h3 {
    font-size: 35px;
  

}

.stats .grid p {
    font-size: 20px;
    font-weight: bold;
}


/* ============ CLI ============== */

.cli .grid {
    grid-template-columns: repeat(3, 1fr) ;
    grid-template-rows: repeat(2, 1fr);
}

.cli img {
    grid-column: 1/ span 2;
    grid-row: 1/ span 2;
}

.cli .card {
    padding-left: 15px;
} 




/* ============ Languages ============== */


.languages .flex {
    /* cards return to the next line if the screen is smaller */
    flex-wrap: wrap;
}
.languages .card {
    text-align: center;
    /* top 18px left & right 10px & bottom 40px */
    margin: 18px 10px 40px;
    padding: 15px;
    /* slow the card hover */
    transition: transform 0.2s ease-in;
}

.languages .card:hover {
    /* card will move up since the value is negative */
    transform: translateY(-15px);
}

.languages .card h4 {
    font-size: 20px;
    margin-bottom: 10px;

}




/*============ Features ==============*/

.featuresHead img,
.docsHead img {
   width: 200px;
   justify-self: flex-end;
}

.featuresSubHead img {
    width: 300px;
    justify-self: flex-end;
}


.featuresMain .card > i{
   margin-right: 15px;
   padding: 10px;
}


.featuresMain .grid {
    padding: 30px;
}

.featuresMain .card:nth-child(1) {
    grid-column: 1/ span 3;
}

.featuresMain .card:nth-child(2) {
    grid-column: 1/ span 2;
}



/*============ Docs Main ==============*/


.docsMain h3 {
    margin: 20px 0;
}

.docsMain .grid {
   grid-template-columns: 1fr 2fr;
   align-items: flex-start;
}

.docsMain nav li {
     font-size: 17px;
     padding-bottom: 5px;
     margin-bottom: 5px;
     border-bottom: 1px solid #ccc;
}


.docsMain a:hover {
    font-weight: bold;

}

/*============ Footer ==============*/

.social a {
    margin: 20px;
    
}


/*============ Animation ============*/









/*============ Media Queries ============*/


/*  Tablets and under */
@media (max-width: 768px) {

    /* Anything under 768px will be styled here */
    
    .grid,
    .showCase .grid,
    .stats .grid,
    .cli .grid,
    .cloud .grid,
    .featuresMain .grid,
    .docsMain .grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .showCase {
        height: auto;
    }

    .showcaseText {
        text-align: center;
        margin-top: 40px;
    }

    .showcaseForm {
        justify-self: center;
    }

    .cli img {
        grid-column: 1;
        grid-row: 1;
    }

    footer {
        text-align: center;
    }

    footer .social i {
        margin-top: 10px;
        
        
    }

    .featuresHead,
    .featuresSubHead,
    .docsHead {
        text-align: center;
    }
    

    .featuresHead img,
    .featuresSubHead img,
    .docsHead img {
        justify-self: center;
    }


    .featuresMain .grid >*:first-child,
    .featuresMain .grid  >*:nth-child(2) {
      grid-column: 1;
    }

}



/* Mobile */

@media(max-width:500px) {
    /* Anything under 500px will be styled here */

    .navBar {
        height: 110px;
      
    }

    .navBar .flex {
        flex-direction: column;
    }

    .navBar ul {
        padding: 10px;
        background-color: rgba(0,0,0,0.1);
    }

    .cli img {
        grid-column: 1;
        grid-row: 1;
    }

}